[submodule "src/webcouturier.dropdownmenu"]
	path = src/webcouturier.dropdownmenu
	url = https://github.com/hai-bui-kkday/webcouturier.dropdownmenu.git
[submodule "src/plonetheme.booster"]
	path = src/plonetheme.booster
	url = https://github.com/hai-bui-kkday/plonetheme.booster.git
[submodule "src/dm.zope.saml2"]
	path = src/dm.zope.saml2
	url = https://github.com/hai-bui-kkday/dm.zope.saml2.git
[submodule "src/collective.saml2"]
	path = src/collective.saml2
	url = https://github.com/hai-bui-kkday/collective.saml2.git
	branch = master
[submodule "src/plonetheme.future_imperfect"]
        path = src/plonetheme.future_imperfect
        url = https://github.com/hai-bui-kkday/plonetheme.future_imperfect.git
        branch = master
